* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

header nav ul {
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

aside {
    background-color: #444;
    color: white;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    padding-top: 20px;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin: 10px 0;
}

aside ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

main {
    margin-left: 220px;
    padding: 20px;
    padding-top: 70px; /* Espaço para o menu superior */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
